APP_ENV=<dev | test | staging | prod>
APP_PORT=8091

LOG_LEVEL=<debug | test | error | prod>
API_VERSION=v1
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8081,http://localhost:8090

DB_CONN_STR=<DB_CONNECTION_STRING_HERE>

SESSION_SECRET=<SESSION_SECRET_HERE>

ACCESS_TOKEN_SECRET=<ACCESS_TOKEN_SECRET_HERE>

ENCRYPTION_ALGORITHM=aes-256-cbc
ENCRYPTION_KEY=<ENCRYPTION_KEY_HERE>
